.button-styling {
    align-items: center;
    appearance: none;
    background-color: var(--dark-blue);
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: var(--black);
    cursor: pointer;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1rem;
}
