.outer-container-profile {
    margin-top: 2rem;
    border-top: 1px solid var(--dark-blue);
}

/* ── 3. Media Queries ─────────────────────────────────────────── */
@media screen and (min-width: 768px) {
    .outer-container-profile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60vw;
        margin: 10rem 0 0 auto;
    }
}