.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.product-card {
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem;
    border-radius: 15px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    background: white;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .product-card {
        max-width: 260px;
    }
}

@media screen and (min-width: 992px) {
    .product-card {
        max-width: 280px;
    }
}
