/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Global Styles
      1.1 Menu link
   2. Areas
      2.1 Navigation
   3. Media Queries
   ──────────────────────────────────────────────────────────────── */

/* ── 1. Global Styles ─────────────────────────────────────────── */
/*    1.1 Menu Link Underline ──────────────────────────────────────────────── */

.active-menu-link {
    border-bottom: 1px solid var(--nav-link);
}

.default-menu-link {
    border-bottom: none;
}

/* ── 2. Areas ─────────────────────────────────────────────────── */

/*    2.1 Navigation ──────────────────────────────────────────────── */

nav {
    background: var(--nav-footer);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-outercontainer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.company-logo {
    width: 250px;
}

.nav-links {
    display: none;
    list-style: none;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 3.3rem;
    right: 0;
    background-color: var(--menu-bar);
    padding: 2rem;
    width: 200px;
    z-index: 50;
}

.nav-links a,
.nav-links a:visited,
.nav-links-desktop a,
.nav-links-desktop a:visited,
.nav-links-mobile a,
.nav-links-mobile a:visited {
    color: var(--nav-link);
}


.nav-links-desktop {
    display: none;
}

.nav-links-mobile {
    display: none;
}

.nav-links-mobile.open {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 3.3rem;
    right: 0;
    background: var(--menu-bar);
    padding: 2rem;
    width: 200px;
    z-index: 50;
}

.menu-bar {
    display: block;
    cursor: pointer;
}

.nav-toggle-wrapper {
    display: none;
}

.mobile-toggle {
    display: block;
}

/* ── 3. Media Queries ─────────────────────────────────────────── */
@media screen and (min-width: 768px) {
    .menu-bar {
        display: none;
    }

    .nav-toggle-wrapper {
        display: block;
    }

    .mobile-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 1rem;
        background: none;
        padding: 0;
        width: auto;
        margin-left: auto;
        margin-right: 2rem;
        z-index: 100;
    }

    .nav-links.open {
        position: static;
        background: none;
        padding: 0;
        width: auto;
        flex-direction: row;
    }

    .nav-outercontainer {
        max-width: 90%;
        padding: 0.5rem 0rem;
    }

    .company-logo {
        width: 270px;
    }

    .nav-links-desktop {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-right: 1.5rem;
        gap: 2rem;
        align-items: center;
    }

    .nav-links-mobile {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    .nav-outercontainer {
        padding: 0 2rem;
    }

    .company-logo {
        width: 400px;
    }

    .nav-links {
        gap: 3rem;
    }
}
