.active-menu-link {
    border-bottom: 1px solid white;
}

.default-menu-link {
    border-bottom: none;
}

nav {
    background-color: var(--light-grey);
    height: 6.2rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
}

.nav-links a {
    color: var(--nav-link);
    transition: color var(--transition);
    text-decoration: none;
}

.nav-outercontainer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.company-logo {
    width: 250px;
}

.nav-links {
    display: none;
    list-style: none;
    letter-spacing: 0.05em;
}

.nav-links a {
    color: var(--nav-link);
    transition: color var(--transition);
}

.nav-links a:hover {
    color: var(--nav-link-hover);
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 6.2rem;
    right: 0;
    background: var(--light-grey);
    padding: 2rem;
    width: 200px;
}

.menu-bar {
    display: block;
    cursor: pointer;
    margin-left: 0;
}

.nav-toggle-wrapper {
    margin-left: 0;
    display: none;
}

.mobile-toggle {
    display: block;
}


@media screen and (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-left: 0;
        letter-spacing: 0.05em;
    }

    .menu-bar {
        display: none;
    }

    .nav-links.open {
        flex-direction: row;
        position: static;
        background: none;
        padding: 0;
        width: auto;
    }

    .nav-toggle-wrapper {
        display: block;
    }

    .mobile-toggle {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    .nav-outercontainer {
        position: relative;
        justify-content: flex-start;
    }

    .company-logo {
        width: 400px;
    }

    .nav-links {
        display: flex;
        gap: 3rem;
        margin-left: auto;
        margin-right: 2rem;
        border: none;
    }
}
