/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Areas
      1.1 Search field
      1.2 Main text
      1.3 Articles
      1.4 Loader
      1.5 Error message
   2. Media Queries
   ──────────────────────────────────────────────────────────────── */

/* ── 1. Areas ─────────────────────────────────────────────────── */

/*    1.1 Search field ──────────────────────────────────────────────── */

/*    1.4 Loader ──────────────────────────────────────────────── */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--foreground);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 2rem auto;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*    1.5 Error message ──────────────────────────────────────────────── */
.error-message {
    margin: 2rem auto;
    color: firebrick;
}