/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Article
   2. Loader
   3. Error message
   4. Button
   5. Media Queries
   ──────────────────────────────────────────────────────────────── */

/* ── 1. Article ─────────────────────────────────────────────────── */
.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.book-details img {
    width: 200px;
}

.no-image {
    background: var(--light-grey);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 250px;
    border-radius: 8px;
}

.wrapper-summary h2, h3 {
    margin-bottom: 1rem;
}

/*    2. Loader ──────────────────────────────────────────────── */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--foreground);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 2rem auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*    3. Error message ──────────────────────────────────────────────── */
.error-message {
    margin: 2rem auto;
    color: firebrick;
}

/*    4. Button ──────────────────────────────────────────────── */
.button-overview {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
}

.media-column {
    display: contents;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.button-overview {
    display: none;
}

.button-mobile {
    display: flex;
}

/*    5. Media Queries ──────────────────────────────────────────────── */
@media screen and (min-width: 768px) {
    .book-details {
        flex-direction: row;
        justify-content: center;
        padding-top: 3rem;
        margin: 0 auto;
    }

    .book-details img {
        width: 300px;
    }

    .wrapper-summary {
        padding-left: 2rem;
    }

    .wrapper-summary h2, h3 {
        margin-bottom: 1rem;
    }

    .button-overview {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }

    .wrapper-summary {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .button-mobile {
        display: flex;
        margin-top: 1rem;
    }

    .media-column .button-overview {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    .book-details {
        max-width: 80%;
        margin: 0 auto;
    }
}
