/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Article
   2. Media Queries
   ──────────────────────────────────────────────────────────────── */

/* ── 1. Article ─────────────────────────────────────────────────── */
.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.book-details img {
    width: 200px;
}

/*    1.4 Loader ──────────────────────────────────────────────── */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--foreground);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 2rem auto;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*    1.5 Error message ──────────────────────────────────────────────── */
.error-message {
    margin: 2rem auto;
    color: firebrick;
}

/*    1.5 Media Queries ──────────────────────────────────────────────── */
@media screen and (min-width: 768px) {
        .book-details {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding-top: 3rem;
            margin: 0 auto;
        }
        .book-details img {
            width: 300px;
        }
        .wrapper-summary {
            padding-left: 2rem;
        }
    .wrapper-summary h2,h3 {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .book-details {
        max-width: 80%;
        margin: 0 auto;
    }
}
