footer {
    background: var(--nav-footer);
    color: var(--white);
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    margin-top: auto;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    footer {
        font-size: 1rem;
    }
}