:root {
    background: var(--background);
    color: var(--foreground);
    transition: background var(--transition), color var(--transition);
}

:root::before {
    content: "";
    position: fixed;
    inset: 0;
    background: var(--background);
    transform: none;
    transition: transform 0.3s ease, background var(--transition);
    z-index: -1;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.toggle-wrapper {
    width: 80px;
}

.toggle {
    height: 45px;
    width: 89px;
    border-radius: 30px;
    padding: 3.5px 3.5px 3.5px 8px;
    position: relative;
    margin: auto;
    cursor: pointer;
    background: var(--foreground);
    /*transition: background var(--transition);*/
    z-index: 100;
}

.toggle-wrapper, .toggle {
    position: relative;
    z-index: 10;
}

.toggle::before {
    content: "";
    display: block;
    height: 35px;
    width: 35px;
    top: 5px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    background: var(--background);
    transform: translateX(0);
    transition: transform var(--transition), background var(--transition);
}

.toggle.dark::before {
    transform: translateX(40px);
}

.toggle input {
    position: absolute;
    top: 0;
    opacity: 0;
}

.toggle .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 4px;
}

.toggle .icons img {
    height: 18px;
    width: 18px;
    z-index: 0;
    filter: brightness(0);
    transition: filter var(--transition);
}

[data-theme="dark"] .toggle .icons img {
    filter: brightness(0) invert(1);
}

.toggle .icons .icon {
    color: var(--black);
}

[data-theme="dark"] .toggle .icons .icon {
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .toggle-wrapper {
        margin: 0 auto;
    }

    .toggle {
        height: 55px;
        width: 108px;
        padding: 7px;
        border-radius: 40px;
    }

    .toggle::before {
        height: 41px;
        width: 41px;
        top: 6px;
        border-radius: 30px;
    }

    .toggle.dark::before {
        transform: translateX(50px);
        height: 41px;
        width: 41px;
        top: 6px;
        border-radius: 30px;
    }

    .toggle .icons img {
        height: 30px;
        width: 30px;
    }
}

@media screen and (min-width: 992px) {
    .toggle {
        height: 65px;
        width: 115px;
        padding: 12px;
        border-radius: 40px;
    }

    .toggle::before {
        height: 41px;
        width: 41px;
        top: 10px;
        border-radius: 30px;
    }

    .toggle.dark::before {
        transform: translateX(50px);
        height: 41px;
        width: 41px;
        top: 10px;
        border-radius: 30px;
    }
}