
.outer-container-register {
    /*border: 2px dashed purple;*/
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-top: 1px solid var(--dark-blue);
}

.message {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .outer-container-register{
        margin: 10rem auto;
        /*border: 2px dashed purple;*/
        min-width: 500px;
    }
}