/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Global Styles
   2. Form
   3. Media Queries
   ──────────────────────────────────────────────────────────────── */

/* ── 1. Global Styles ─────────────────────────────────────────── */
.outer-container-register {
    /*border: 2px dashed purple;*/
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-top: 1px solid var(--dark-blue);
}

.outer-container-register h1 {
    padding-top: 1rem;
}

/* ── 2. Form ────────────────────────────────────────────── */
.message {
    font-weight: bold;
    color: var(--message);
}

/* ── 3. Media Queries ─────────────────────────────────────────── */
@media screen and (min-width: 768px) {
    .outer-container-register{
        margin: 10rem 0 0 auto;
        /*border: 2px dashed purple;*/
        min-width: 500px;
    }
}