/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Global Styles
      1.1 Main
   2. Areas
   3. Media Queries
   ──────────────────────────────────────────────────────────────── */

/* ── 1. Global Styles ─────────────────────────────────────────── */

/*    1.1 Main ──────────────────────────────────────────────── */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 6.2rem 0 4rem 0;
    max-width: 80%;
}

/* ── 2. Areas ─────────────────────────────────────────────────── */

/* ── 3. Media Queries ─────────────────────────────────────────── */
@media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
}