/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Global Styles
   2. Typography
   3. Links-button-input
   4. Media Queries
   ──────────────────────────────────────────────────────────────── */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ── 1. Global Styles ─────────────────────────────────────────── */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #333533;
    --white: #FAF9F9;
    --dark-blue: #b0cae6;
    --light-grey: #555B6E;
    --light-blue: #CFDBD5;
    --yellow: #F5CB5C;
    --background: var(--white);
    --foreground: var(--black);
    --nav-link: var(--white);
    --nav-link-hover: var(--yellow);
    --transition: 0.3s ease;
    --nav-footer: linear-gradient(90deg, #243748, #4B749F);
    --menu-bar: #4B749F;
    --card-bg: white;
    --icon-color: var(--black);
}
#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: "Poppins", Calibri, Verdana, serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
[data-theme="dark"] {
    --background: var(--black);
    --foreground: var(--white);
    --nav-link: var(--white);
    --nav-link-hover: var(--yellow);
    --card-bg: #334e69;
    --icon-color: var(--yellow);
    --transition: 0.3s ease;
}

/* ── 2. Typography ────────────────────────────────────────────── */
h1, h2, h3, h4, h5 {
    font-family: "Poppins", Georgia, "Times New Roman", serif;
    font-weight: 700;
}
body {font-size: 1rem;}
h1 {font-size: 2rem;}
h2 {font-size: 1.7rem;}
h3 {font-size: 1.3rem;}
h4 {font-size: 1.2rem;}
h5 {font-size: 1.1rem;}
p {font-size: 1rem;}
a, button, input {
    font-family: inherit;
}

/* ── 3. Links-button-input ────────────────────────────────────────────── */
a {
    text-decoration: none;
}
a, button, [role="button"], .nav-toggle-wrapper {
    -webkit-tap-highlight-color: transparent;
}
a:active, a:focus, .nav-toggle-wrapper {
    background-color: transparent;
}
li {
    list-style: none;
}

/* ── 4. Media Queries ─────────────────────────────────────────── */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    h1 {font-size: 3rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.5rem;}
    h4 {font-size: 1.3rem;}
    h5 {font-size: 1.1rem;}
    p {font-size: 1rem;}
}
