@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nanum+Pen+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #333533;
    --white: #FAF9F9;
    --dark-green: #89B0AE;
    --light-grey: #555B6E;
    --light-green: #BEE3DB;
    --peach: #FFD6BA;
}

body {
    font-family: "Homenaje",Calibri,Verdana,serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather',Georgia,"Times New Roman",serif;
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


button, input {
    font-family: inherit;
}

