@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root[data-theme="light"] {
    --text: #283618;
    --background: #fef8f6;
    --primary: #606C38;
    --secondary: #BC6C25;
    --accent: #DDA15E;
}
:root[data-theme="dark"] {
    --text: #dae7ca;
    --background: #090301;
    --primary: #bbc893;
    --secondary: #da8a44;
    --accent: #a06522;
}

body {
    font-family: "Nunito",Calibri,Verdana,serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather',Georgia,"Times New Roman",serif;
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}