/* ────────────────────────────────────────────────────────────────
   TABLE OF CONTENTS
   1. Areas
      1.1 Search field
      1.2 Main text
      1.3 Articles
      1.4 Loader
      1.5 Error message
   2. Media Queries
   ──────────────────────────────────────────────────────────────── */

/* ── 1. Areas ─────────────────────────────────────────────────── */

/*    1.1 Search field ──────────────────────────────────────────────── */
.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-field {
    padding: 2em 0;
}

.home-button-input {
    margin: 1rem 0 0 0;
    padding: 10px 10px;
}

/*    1.2 Main text ──────────────────────────────────────────────── */
.main-text {
    margin: 0 auto;
    padding: 0 0 1rem 0;
}

.main-text > p {
    padding: 1rem 0;
}

/*    1.3 Articles ──────────────────────────────────────────────── */
.outer-container-articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}
/*    1.4 Loader ──────────────────────────────────────────────── */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--foreground);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 2rem auto;
}

/*    1.5 Error message ──────────────────────────────────────────────── */
.error-message {
    margin: 2rem auto;
    color: firebrick;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ── 2. Media Queries ─────────────────────────────────────────── */
@media screen and (min-width: 768px) {
    .search-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .search-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input {
        width: 460px;
        height: 50px;
        padding: 0 1rem;
    }

    .home-button-input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border: none;
        padding: 0 1rem;
        margin: 0;
    }

    .main-text {
        padding: 2rem 0 4rem 0;
    }
}
